body {
  position: relative;
  font-family: "Oxygen", sans-serif;
}

.content {
  position: relative;
  padding: 10rem 5rem 0;
  max-width: 900px;
  margin: 0 auto;
  display: none;
}

h1 {
  font-weight: 900;
  line-height: 1.4;
  font-size: 2rem;
}
